<div class="section-home corpo_formulario">
    <div class="formulario">
        <div class="header-form">Usuário</div>
        <form action="/action_page.php">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" placeholder="Informe o nome..." type="text">

            <label for="sobrenome">Email</label>
            <input id="sobrenome" name="sobrenome" placeholder="Informe sobrenome..." type="text">

            <label for="senha">Senha</label>
            <input id="senha" name="senha" type="password">

            <label for="country">País</label>
            <select id="country" name="country">
                <option value="australia">Brasil</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
            </select>
            <input type="submit" value="Confirmar">
        </form>
    </div>
</div>